@import "tailwindcss";
@import "./theme.css";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }

  html {
  scroll-behavior: smooth;


}


@theme {
  --color-brand: #902FE9;
  --color-brand-hover: #3730A3;
  --color-bg: #F9FAFB;
  --color-border: #E5E7EB;
  --color-text: #111827;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  --space-section: 1.5rem;
  --space-field: 0.75rem;
}

}
.modal {
  opacity: 0;
  visibility: hidden; /* Prevents interaction & layout jumps */
  transform: scale(0.95) translateY(20px);
}
.backdrop {
  opacity: 0;
  visibility: hidden;
}
.themeBg{
  @apply bg-[var(--color-light-bg)] dark:bg-[var(--color-dark-bg)];
}
.themeCrdBg {
  @apply bg-[var(--color-light-card-bg)] dark:bg-[var(--color-dark-card-bg)];
}
.themeText {
  @apply text-[var(--color-light-text-primary)] dark:text-[var(--color-dark-text-primary)];
}
.mainDarkModeText{
  @apply text-[var(--color-light-accent-vibrant-cyan)] dark:text-[var(--color-dark-accent-blue-purple)];
}
.mainDarkModeBtn{
  @apply bg-[var(--color-light-accent-vibrant-cyan)] dark:bg-[var(--color-dark-accent-blue-purple)];
}

.borderColor{
  @apply border-[var(--color-light-border)] dark:border-[var(--color-dark-border)];
}
.themeBgHover {
  @apply hover:bg-[var(--color-light-card-bg)] dark:hover:bg-[var(--color-dark-card-bg)];
}
.active{
  @apply bg-[var(--color-light-accent-vibrant-cyan)] dark:bg-[var(--color-dark-accent-blue-purple)] text-[var(--color-text-primary)] dark:text-[var(--color-text-primary)];
}